<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="reg_year_lister_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <table>
            <tbody>
                
                <tr>
                    <td><a href="/show/jntuk-1-1-r20-question-papers-aug-2022">JNTUK B.Tech 1-1 Sem (R20) Supply Question Papers Aug/Sept 2022</a></td>
                </tr>
                
                <tr>
                    <td><a href="/show/jntuk-1-1-r20-question-papers-april-2022">JNTUK B.Tech 1-1 Sem (R20) Regular Question Papers April 2022</a></td>
                </tr>
                
                <tr>
                    <td><a href="/show/jntuk-1-1-r20-question-papers-july-2021">JNTUK B.Tech 1-1 Sem (R20) Regular Question Papers July/Aug 2021</a></td>
                </tr>
                
                <tr>
                    <td><a href="/show/jntuk-1-1-r19-supply-question-papers-july-2021">JNTUK B.Tech 1-1 Sem (R19) Supply Question Papers July/Aug 2021</a></td>
                </tr>
                
                <tr>
                    <td><a href="/show/jntuk-1-1-r19-question-papers-2020">JNTUK B.Tech 1-1 Sem (R19) Regular Question Papers Jan 2020</a></td>
                </tr>
                
                <tr>
                    <td><a href="/show/jntuk-1-1-r16-supply-question-papers-may-2019">JNTUK B.Tech 1-1 Sem (R16) Supply Question Papers May/June 2019</a></td>
                </tr>
                
                <tr>
                    <td><a href="/show/jntuk-1-1-r16-question-papers-oct-2018">JNTUK B.Tech 1-1 Sem (R16) Regular/Supply Question Papers Oct/Nov 2018</a></td>
                </tr>
                
                <tr>
                    <td><a href="/show/jntuk-b-tech-1-1-r16-qp-may-2018">JNTUK B.Tech 1-1 Sem (R16) Supply Exam Question Papers May 2018</a></td>
                </tr>
                
                <tr>
                    <td><a href="/show/jntuk-b-tech-1-1-sem-r16-question-papers-dec-2017">JNTUK B.Tech 1-1 Sem (R16) Regular/ Supply Exam Question Papers Nov/Dec 2017</a></td>
                </tr>
                
                <tr>
                    <td><a href="/show/jntuk-b-tech-1-1-sem-r16-supply-exam-qp-may-2017">JNTUK B.Tech 1-1 Sem (R16) Supply Exams Question Papers May 2017</a></td>
                </tr>
                
                <tr>
                    <td><a href="/show/jntuk-b-tech-1-1-sem-r16-question-papers-dec-2016">JNTUK B.Tech 1-1 Sem (R16) Regular Exams Question Papers Dec 2016</a></td>
                </tr>
                
            </tbody>
        </table>
    </body>
</body>
</html>